<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
</head>
<body>

<h1>login</h1>
<div>
    This is the login.<br>
</div>
<div id="login_form_div">
    <form action="/user/login" method="post">
        email:<br>
        <input type="text" name="email">
        <br>
        password:<br>
        <input type="text" name="password">
        <br><br>
        <input type="submit" value="Login">
    </form>
</div>
</body>
</html>
