<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
</head>
<body>

<h1>create_account</h1>
<div>
    This is the create_account.<br>
</div>
<div id="signup_form_div">
    <form action="/user/signup" method="post">
        email:<br>
        <input type="text" name="email" value="adb@example.com">
        <br>
        password:<br>
        <input type="text" name="password" value="1234">
        <br><br>
        <input type="submit" value="Signup">
    </form>
</div>

</body>
</html>
